.ElementArray{
    margin:0.5vw;
    display: flex;
    flex-direction: column;
    /* width:3vw; */
    height:3vw;
    background-color: rgb(232, 231, 231);
    padding:0.25vw;
    border-radius: 1vw;
}
#ElementArray_value{
    /* background-color: aqua; */
    margin: 0%;
    font-size: 1.5vw;
    text-align: center;
}
#ElementArray_index{
    margin: 0%;
    color: rgb(129, 129, 129);
    text-align: center;
    font-size: 0.75vw;
}
#array-value{
    text-decoration: none;
    border: none;
    width:80%;
    font-size: 1.5vw;
    text-align: center;
    background-color: rgb(232, 231, 231);
}
#array-value::placeholder{
    color: rgb(190, 190, 190);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}