.maincontainer-stack{
    width: fit-content;
    /* margin: 2vw; */
    align-items: center;
    padding:1vw;
    padding-bottom: 0.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 1vw rgb(208, 207, 207);
}
#push-button-Stack{
    width:1vw;
    height:1vw;
    background-color: rgb(224, 224, 224);
    display: flex;
    padding: 0.25vw;
    box-shadow: 0 0 1vw rgb(208, 207, 207);
    border-radius: 999px;
    margin-right: 0.2vw;
}
#pop-button-Stack{
    width:1vw;
    height:1vw;
    background-color: rgb(224, 224, 224);
    display: flex;
    padding: 0.25vw;
    box-shadow: 0 0 1vw rgb(208, 207, 207);
    border-radius: 999px;
    margin-left: 0.2vw;
}
.Stack-delete-pan{
    height:3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content:space-evenly ; */
    width:100%;
}
.Stack{
    
    width:fit-content;
    
}
.stackblock{
    background-color: rgb(247, 246, 246);
    width:5.5vw;
    padding: 0.7vw;
    border: 1vw rgb(195, 194, 194);
    box-shadow: 0 0 1vw rgb(208, 207, 207);
    border-style: solid;
    border-width:0.18vw;
    border-top: none;
    border-radius: 0.7vw;
    border-top-right-radius: 0vw;
    border-top-left-radius: 0vw;
    position: relative;
    /* margin-left: 1.5vw;
    margin-bottom: 0.2vw; */
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
}
.individualstackblock{
    background-color: rgb(232, 231, 231);
    padding: 0.5vw;
    border-radius: 0.4vw;
    width: 4.5vw;
    margin-top: 0.3vw;
    text-align: center;
    font-size: 1.25vw;
}
.break1{
    width: 0.5vw;
}
.pushpopbutton{
    /* margin-top: 0.3vw; */
    display: flex;
    height: 3vw;
    justify-content: space-evenly;
    align-items: center;
    /* width: fit-content; */
    /* margin-left: -0.3vw; */
}
.but{
    background-color: rgb(244, 244, 244);
    width: fit-content;height: fit-content;
    margin-left: 0.1vw;
    border-color: green;
    border-radius: 0.5vw;
    font-weight: 650;
    
}
.but:hover{
    cursor:pointer;
}
.butpop2{
    background-color: white;
    width: fit-content;height: 2.5vw;
    margin-left: 0.1vw;
    border-color: red;
    border-radius: 0.5vw;
    font-weight: 650;
}
.butpop2:hover{
    cursor:pointer;
}
.keyvalues{
    margin-top: -0.1vw;
    margin-bottom: -0.2vw;
    width: fit-content;
    background-color: white;
}
.UserInput{
    width: 5vw;
    display: none;
}
.Inputarea{
    display:flex;
    width:100%;
}
#inputvalue{
    width: 4.5vw;
    height:1.5vw;
    border: 0.2vw solid gold;
    border-radius: 1vw;
    font-size: 1vw;
    text-align: center;
}
#inputvalue::placeholder{
    font-size: 0.6vw;
    color: rgb(185, 185, 185);
    
}
#empty-block-stack{
    
    font-size: 1.25vw;
    color: rgb(155, 154, 152);
    text-align: center;
    background-color: rgb(240, 236, 236);
    /* padding: 1vw; */
    /* border-radius: 1vw; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submitarea{
    display: flex;
    width:100%;
    height:3vw;
    align-items: center;
    /* margin-left: -0.5vw; */
    /* background-color: antiquewhite; */
    /* padding: 3vw; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    cursor: pointer;
}

#butpop{
    border-color: red;
}
.pushbuttonbut{
    border: none;
    background-color: white;
}
.buttonsofpp{
    display: flex;
}
.pushbuttonbut{
    height: fit-content;
    background-color: rgb(244, 244, 244);
    margin-right: -0.2vw;
}

