/* .navbar {
	width: 100%;
	height: 4vw;
	background-color: #E5E4E4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 0.5vw rgb(169, 169, 169);
}

.navbar h1 {
	color: rgb(111, 111, 111);
	font-size: 1.5vw;
	margin-left: 1vw;
} */


.white_btn {
	border: none;
	outline: none;
	padding: 1vw;
	background-color: white;
	border-radius: 1vw;
	/* width: 3vw; */
	font-weight: bold;
	font-size: 1vw;
	cursor: pointer;
	margin-right: 1vw;
}