.Home-main-activity{
    display: flex;
    height:90vh;
    align-items: center;
}
.Home-workspace{
    /* width:vw; */
    height: 80vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0.5vw;
    background-color: rgb(244, 244, 244);
    border-radius: 1vw;
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
    /* border: 0.05vw solid rgb(166, 166, 166); */
}
.Panel-togle{
    display: flex;
}
#panel-toggle-button{
    /* margin: 0%; */
    transition: 0.6s;
    width:1.25vw;
    text-align: center;
    font-size: 1vw;
    border: 0.05vw solid rgb(166, 166, 166);
    height:60vh;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
    /* border: none; */
}
#panel-toggle-button:hover{
    background-color: rgb(206, 206, 206);
}
.Panel-Complete{
    display: flex;
    /* margin: 1vw; */
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
}
.Panel{
    padding: 0.5vw;
    /* margin:1vw; */
    width:100vw;
    max-width: 15vw;;
    height:80vh;
    /* margin-bottom: 1vh; */
    /* border: 0.05vw solid rgb(166, 166, 166); */

    background-color: #F4F4F4;
    border-radius: 1vw;
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    /* position: relative; */
}
/* #ku{
    z-index: 9;
} */
#Array-option-button:hover{
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
    transition: 0.4s;
    background-color: #575656;
    color: white;
}
#Array-option-button{
    /* min-width:6vw; */
    transition: 0.4s;
    width:100%;
    padding: 0.25vw;
    border: 0.05vw solid rgb(166, 166, 166);
    
    border-radius: 0.5vw;
    background-color: #f8f8f8;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Panel-Section-1{
    width:100%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 0.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E4E4;
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
}
.Panel-Section-1-options{
    /* background-color: aquamarine; */
    width:85%;
    
    margin: auto;
    margin-top: 1vw;
    display: grid;
    justify-content: space-evenly;
    align-items:stretch;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5vw;
    grid-template-areas:
    " a b "
    " c d ";
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
}

.DropDownArray{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5vw rgb(174, 174, 174);
    /* align-items: center; */
    justify-content: space-evenly;
    /* top: '#Array-option-button'; */
    margin-top: 0.5vw;
    width:5.5vw;
    border-radius: 1vw;
    padding:0.25vw;
    background-color: #ffffff;
    z-index: 999;
    position: absolute;
}
#DropDownArray-length{
    font-size: 1vw;
    width:80%;
    height:1.5vw;
    text-align: center;
    display:flex;
    align-self: center;
    justify-self: center;
    margin-top: 0.5vw;
    border-radius: 0.5vw;
    border: 1px solid rgb(221, 220, 220);
    background-color: #efefef;
}

#DropDownArray-separator{
    width:100%;
    background-color: black;
    
}
.DropDownArray-options{
    font-size: 0.85vw;
    list-style-type:none;
    cursor: pointer;
    
}
.DropDownArray-option{
    /* width:4vw; */
    margin: 0.25vw;
    background-color: #F4F4F4;
    border-radius: 0.5vw;
    /* text-align: center; */
    padding: 0.25vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.6s;
    border: 1px solid rgb(221, 220, 220);
}
.DropDownArray-option:hover{
    /* scale: 5%; */
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(12, 12, 12);
}

#Panel-Section-1-title{
    font-weight: 600;
    letter-spacing: 0.05vw;
    /* background-color: #ffffff; */
    border-radius: 1vw;
    width:90%;
    padding: 0.25vw;
    color:#858585;
    text-align: center;
    margin: 0%;
    font-size: 1.15vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Notes{
    display: flex;
    align-items: center;
    height: 80vh;
}
.Notes-Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E4E4;
    height:80vh;
    padding: 0.25vw;
    border-radius: 1vw;
    width:33vw;
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
}
#Note-content{
    background-color: #F7F6F6;
    border: none;
    width:96%;
    height:100%;
    border-radius: 1vw;
    resize: none;
    overflow-y: scroll;
    padding: 0.5vw;
    font-size: 1vw;
    /* text-align: center; */
}
#Notes-title{
    color:#a5a5a5;
    font-weight: 600;
    font-size: 1.75vw;
    margin-top: 0.5vw;
}
#dummy-Note{
    background-color: #cbcbcb;
    border: none;
    width:95%;
    height:70vh;
    border-radius: 1vw;
    padding: 0.5vw;
    font-size: 0.85vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#Note-content::placeholder{
    display: flex;
    text-align: center;
    line-height:60vh;
    color: #c0c0c0;
    font-size: 1.5vw;
    /* background-color: #858585; */
    height:100%;
    align-self: center;
}
.Notes-Menu{
    display: flex;
}
#Note-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding:0.5vw;
    min-width:5vw;
    text-align: center;
    border-top-right-radius: 0.5vw;
    border-top-left-radius: 0.5vw;
    margin-left: 0.5vw;
    font-size: 1vw;
    margin-bottom: 0%;
    margin-top: 0%;
}
.Notes-List{
    width:30vw;
    overflow-x: auto;
    display: flex;
    margin-right: 1vw;
}
#Notes-Close-img{
    width:0.5vw;
    /* margin-left: 0.5vw; */
    padding: 0.25vw;
    border-radius: 0.25vw;
    background-color: #F4F4F4;
    box-shadow: 0 0 0.25vw rgb(163, 163, 163);
}
#Note-Add-button{
    width:4vw;
    height: fit-content;
    padding:0.25vw;
    border-radius: 0.5vw;
    border: 0.05vw solid rgb(194, 194, 194); 
    margin-bottom: 0.5vw;
    cursor: pointer;
    transition: 0.6s;
    font-size: 1vw;
}
#Note-Add-button:hover{
    background-color: #ffffff;
    transition: 0.6s;
}